
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;   
  padding-left: 15%;
  gap: 4rem;

}

.left {
  flex: 1;
}

.right {
  flex: 1;
  text-align: center;
}

.image {
  max-width: 50%;
  height: auto;
}
@media(min-width: 600px) {
    .HomepageHero_heading__Nj93Y {
        font:var(--typography-sans-800-semibold-font-weight) var(--typography-sans-800-semibold-font-size)/var(--typography-sans-800-semibold-line-height) var(--typography-sans-800-semibold-font-family);
        letter-spacing: var(--typography-sans-800-semibold-letter-spacing)
    }
}